{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'ref/css/bootstrap.min.css' %}">
    <style>
        body {
            background-color: rgb(255, 255, 255);
        }
            
        .card {
            transition-duration: 0.5s;
        }
        .card:hover {
            background-color: rgb(178, 255, 229);
            box-shadow: 10px 5px 10px black;
        }
    </style>
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12" >
                - Да, конечно, - сказал Лис.
                - Но ты будешь плакать!
                - Да, конечно.
                - Значит, тебе от этого плохо.
                - Нет, - возразил Лис, - мне хорошо. Вспомни, что я говорил про золотые колосья.
                Он умолк. Потом прибавил:
                - Поди взгляни еще раз на розы. Ты поймешь, что твоя роза - единственная в мире. А когда вернешься, чтобы проститься со мной, я открою тебе один секрет. Это будет мой тебе подарок.
                Маленький принц пошел взглянуть на розы.
                - Вы ничуть не похожи на мою розу, - сказал он им. - Вы еще ничто. Никто вас не приручил, и вы никого не приручили. Таким был прежде мой Лис. Он ничем не отличался от ста тысяч других лисиц. Но я с ним подружился, и теперь он - единственный в целом свете.
                Розы очень смутились.
                - Вы красивые, но пустые, - продолжал Маленький принц. - Ради вас не захочется умереть. Конечно, случайный прохожий, поглядев на мою розу, скажет, что она точно такая же, как вы. Но мне она одна дороже всех вас. Ведь это ее, а не вас я поливал каждый день. Ее, а не вас накрывал стеклянным колпаком. Ее загораживал ширмой, оберегая от ветра. Для нее убивал гусениц, только двух или трех оставил, чтобы вывелись бабочки. Я слушал, как она жаловалась и как хвастала, я прислушивался к ней, даже когда она умолкала. Она - моя.
                И Маленький принц возвратился к Лису.
                - Прощай... - сказал он.
                - Прощай, - сказал Лис. - Вот мой секрет, он очень прост: зорко одно лишь сердце. Самого главного глазами не увидишь.
                - Самого главного глазами не увидишь, - повторил Маленький принц, чтобы лучше запомнить.
                - Твоя роза так дорога тебе потому, что ты отдавал ей все свои дни.
                - Потому что я отдавал ей все свои дни... - повторил Маленький принц, чтобы лучше запомнить.
                - Люди забыли эту истину, - сказал Лис, - но ты не забывай: ты навсегда в ответе за всех, кого приручил. Ты в ответе за твою розу.
                - Я в ответе за мою розу... - повторил Маленький принц, чтобы лучше запомнить.
            </div>

        </div>
    </div>

<script src="{% static 'ref/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'ref/js/bootstrap.min.js' %}"></script>

</body>
</html>



